.container {
    background-color: blue;
    display: flex;
}

.start {
    justify-content: flex-start;
} 

.end {
    justify-content: flex-end;
}

.center {
    justify-content: center;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.space-none {
    justify-content: space-evenly;
}

.filho {
    width: 50px;
    margin: 5px;
    height: 50px;
    text-align: center;
    border-radius: 5px;
}

.azul-claro {
    background-color: #63b1bc;
}

.azul-escuro {
    background-color: #1f2a44;
    color: #fff;
}

.rosa {
    background-color: #ed145b;
}

.amarelo {
    background-color: #efb661;
}

.exercicio-B {
    justify-content: flex-start;
    flex-flow: column-reverse nowrap;
}

.desafio {
    justify-content: flex-start;
    flex-direction: row;
}

.exercicio-B .azul-claro {
    margin: 0;
}

.exercicio-B .azul-escuro {
    margin: 0;
}

.exercicio-B .rosa {
    margin: 0;
}

.exercicio-B .amarelo {
    margin: 0;
}

.desafio .azul-claro {
    order: 4;
    margin: 0;
}

.desafio .azul-escuro {
    order: 3;
    margin: 0;
}

.desafio .rosa {
    order: 2;
    margin: 0;
}

.desafio .amarelo {
    order: 1;
    margin: 0;
}